WikiCEP_Project/WikiCEP_Project/Web References/ServicioDefiniciones/ServicioDefiniciones.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DefinicionesRecientes">
        <s:complexType />
      </s:element>
      <s:element name="DefinicionesRecientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DefinicionesRecientesResult" type="tns:ArrayOfVDefinicionReciente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVDefinicionReciente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="vDefinicionReciente" nillable="true" type="tns:vDefinicionReciente" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="vDefinicionReciente">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IDDefinicion" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Titulo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Texto" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaCreacion" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DefinicionesRecientesSoapIn">
    <wsdl:part name="parameters" element="tns:DefinicionesRecientes" />
  </wsdl:message>
  <wsdl:message name="DefinicionesRecientesSoapOut">
    <wsdl:part name="parameters" element="tns:DefinicionesRecientesResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioDefinicionesSoap">
    <wsdl:operation name="DefinicionesRecientes">
      <wsdl:input message="tns:DefinicionesRecientesSoapIn" />
      <wsdl:output message="tns:DefinicionesRecientesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioDefinicionesSoap" type="tns:ServicioDefinicionesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DefinicionesRecientes">
      <soap:operation soapAction="http://tempuri.org/DefinicionesRecientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioDefinicionesSoap12" type="tns:ServicioDefinicionesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DefinicionesRecientes">
      <soap12:operation soapAction="http://tempuri.org/DefinicionesRecientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioDefiniciones">
    <wsdl:port name="ServicioDefinicionesSoap" binding="tns:ServicioDefinicionesSoap">
      <soap:address location="http://localhost:53722/ServicioDefiniciones.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioDefinicionesSoap12" binding="tns:ServicioDefinicionesSoap12">
      <soap12:address location="http://localhost:53722/ServicioDefiniciones.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>